<!DOCTYPE html>
<html>

<head>

    <title>Calculator App</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Calculator App</h1>

        <form method="POST">

            <input
                type="number"
                step="any"
                name="num1"
                placeholder="First Number"
                required
            >

            <input
                type="number"
                step="any"
                name="num2"
                placeholder="Second Number"
                required
            >

            <select name="operation">

                <option value="+">Addition (+)</option>

                <option value="-">Subtraction (-)</option>

                <option value="*">Multiplication (*)</option>

                <option value="/">Division (/)</option>

            </select>

            <button type="submit">Calculate</button>

        </form>

        <h2>Result: {{ result }}</h2>

    </div>

</body>

</html>